@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 173, 216, 230; /* LightBlue */
  --color-secondary: 65, 105, 225; /* RoyalBlue */
  --color-mainText: 55, 66, 77; /* Black */
  --color-LandingText: 255, 255, 255; /* White */
}

.subtitle {
  @apply text-3xl border-b-4 border-primary w-fit;
}

.subtitleContainer {
  @apply pt-10 py-2 px-8 flex justify-center md:justify-start;
}

.icon {
  @apply bg-slate-600 p-2 rounded-2xl text-sm;
}

.navLink {
  @apply mr-2 text-lg md:text-lg lg:text-2xl flex justify-center items-center gentleZoom;
}

.gentleZoom {
  @apply transform transition-transform duration-300 hover:scale-110;
}

/* Dynamic colours */
.bg-primary {
  background-color: rgb(var(--color-primary));
}
.bg-secondary {
  background-color: rgb(var(--color-secondary));
}
.text-main {
  color: rgb(var(--color-mainText));
}
.text-landing {
  color: rgb(var(--color-LandingText));
}
.text-highlight {
  color: rgb(var(--color-primary));
}

html {
  scroll-behavior: smooth;
}
